{% extends "bootstrap/base.html" %}
<style type="text/css">
    .qu-table{
        margin-top: 200px;
    }

</style>
{% block title %}show{% endblock %}

{% block content %}
<div class="container">
    <div class="qu-table" style="height: 60px"></div>
    <table class="table table-striped ">
        <tr>
            <th>问题</th>
            <th>作者</th>
            <th>回答</th>
            <th colspan="2" style="text-align:center;">操作</th>
        </tr>
        {% for question in questions %}
        <tr>
            <td>{{ question.question }}</td>
            <td>{{ question.author }}</td>
            <td>{{ question.answer }}</td>
            <td align="center"><a href="/edit_question/{{ question.id }}">编辑</a></td>
            <td align="center"><a href="/del_question/{{ question.id }}">删除</a></td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('new_question') }}" class="btn btn-primary">添加</a>
</div>

{% endblock %}

